@charset "utf-8";
@import url('common.css');

  /* Header-Sub */
#header {position:relative; width:100%; height:auto; background:white;}
#header .inner {margin:0 auto; width:1170px; height:auto;}
h1 {width:210px; height:43px;}
h1 img {filter:invert(0);}
.sub_gnb {position:absolute; left:calc(50% - 600px/2); top:0px;}
.sub_gnb ul {display:flex; width:600px;}
.sub_gnb a:hover {font-weight:bold;}
.sub_gnb .main {width:20%; text-align:center; line-height:125px;}
.sub_gnb .main a {color:black; font-size:16px; transition:0.3s;}
#header .sub_bg {position:absolute; left:0px; top:125px; z-index:-1; width:100%; height:75px; background:white; border-top:1px solid #ccc; border-bottom:1px solid #aaa;}
.sub_gnb .sub {position:absolute; left:calc(50% - 1170px/2); top:125px; display:flex; justify-content:center; margin:0 auto; width:1170px; box-sizing:border-box;}
.sub_gnb .sub li {width:14.2%; line-height:75px; transition:0.5s;}
.sub_gnb .sub a {font-size:14px;}
.util {position:absolute; right:0; top:52px;}
.util #search_text {width:100px; background:none; border-bottom:1px solid black;}
.util .icon {font-size:16px; width:auto; color:black;}
.gnb_btn {display:none; position:absolute; left:30px; top:calc(50% - 26px/2); width:26px; height:26px; cursor:pointer;}
.gnb_btn div {position:absolute; left:0; width:100%; height:2px; background:black; transition:0.3s;}
.gnb_btn div:nth-child(1) {top:0px;}
.gnb_btn div:nth-child(2) {top:11px;}
.gnb_btn div:nth-child(3) {top:22px;}
.in_gnb_util {display:none; margin:0 auto; padding:30px 0; width:100px; text-align:center;}
.in_gnb_util div, .in_gnb_util ul {margin:20px 0; width:100%;}
.in_gnb_util #search_text {width:80px; background:none; border-bottom:1px solid black;}

  /* Container-Sub */
#container_sub {padding-top:200px;}
.products_wrap {display:flex; flex-wrap:wrap; justify-content:space-between; margin:0 auto; width:100%;}
.products_wrap .products {width:calc((100% - 12px)/4); margin-bottom:100px; box-sizing:border-box;}
.products img {display:block; width:100%; background:lavender}
.products .pd_info {padding:50px 48px 0 48px;}
.pd_info .name {margin-bottom:30px; font-size:1.2rem; font-weight:500; line-height:1.5rem;}
.pd_info .price {font-family:'Rubik';}
.pd_info .price .sale {font-size:1.5rem; font-weight:bold;}
.pd_info .price .original {text-decoration:line-through; color:#666;}
.pd_info .price .percent {margin-left:15px; font-size:1.1rem; font-weight:bold; color:#cf152d;}
.pd_info .price .won {font-size:1rem;}

.page_btn {display:flex; justify-content:center; padding:45px 0 170px 0; margin:0 auto; align-items:baseline;}
/* .page_btn li {display:inline;} */
.page_btn a {margin:7px; color:#666; font:16px 'Rubik';}
.page_btn li a.page_fo {color:#092f57; font-size:18px; font-weight:bold;}


  /* POP UP */
.information_pop {position:absolute; left:0px; top:0px; z-index:1000; display:table; width:100%; height:100%; background: rgba(255,255,255,0.9);}
.information_pop .pop_exit {position:absolute; right:80px; top:80px; color:#111;}
.information_pop .pop_exit .material-symbols-outlined {font-size:50px;}
.information_pop .pop_text {display:table-cell; vertical-align:middle; text-align:center; font-weight:300; font-size:1.5rem; line-height:3rem; color:#111;}