/* Mediaquery */
@media all and (max-width:767px) { /* 스마트폰 */
  #header {border-bottom:1px solid #aaa;}
  #header h1 {position:static; width:210px; margin:0 auto; padding:30px 0; text-align:center;}
  #header .inner {position:static; width:100%; height:auto;}
  .gnb_btn {display:block; transition:0.5s;}
  .sub_gnb {position:absolute; left:0; top:104px; display:none; width:200px; height:auto; background:white; box-shadow:0px 0px 7px rgba(0,0,0,0.15);}
  .sub_gnb>ul {display:block; width:100%; padding:30px 0;}
  .sub_gnb .main {display:block; width:100%; line-height:60px;}
  .sub_gnb .sub {position:absolute; left:200px; top:0px; z-index:-1; display:block; width:200px; overflow:hidden; padding:10px 0; transition:0.5s; background:white; box-shadow:0px 0px 7px rgba(0,0,0,0.15);}
  .sub_gnb .sub li {width:100%;}
  #header .sub_bg {display:none;}
  .util {display:none;}
  .in_gnb_util {display:block;}
  .in_gnb_util ul{display:flex; justify-content:space-between;margin:0 auto;}
  .in_gnb_util .icon {font-size:20px;}
  #footer .inner .sitemap {display:none;}
  #footer .copyright {background:#eee;}
}
@media all and (min-width:768px) and (max-width:1023px) { /* 태블릿 */ 
  #header {border-bottom:1px solid #aaa;}
  #header h1 {position:static; width:210px; margin:0 auto; padding:30px 0; text-align:center;}
  #header .inner {position:static; width:100%; height:auto;}
  .gnb_btn {display:block; transition:0.5s;}
  .sub_gnb {position:absolute; left:0; top:104px; display:none; width:200px; height:auto; background:white; box-shadow:0px 0px 7px rgba(0,0,0,0.15);}
  .sub_gnb>ul {display:block; width:100%; padding:30px 0;}
  .sub_gnb .main {display:block; width:100%; line-height:60px;}
  .sub_gnb .sub {position:absolute; left:200px; top:0px; z-index:-1; display:block; width:200px; overflow:hidden; padding:10px 0; transition:0.5s; background:white; box-shadow:0px 0px 7px rgba(0,0,0,0.15);}
  .sub_gnb .sub li {width:100%;}
  #header .sub_bg {display:none;}
  .util {right:15px; top:40px;}
  .util #search_text {display:none;}
  .util .icon {font-size:20px;}
  #footer .sitemap {display:none;}
  #footer .sitemap .sm_main {width:40%;}
  #footer .copyright {background:#eee;}
}
@media all and (min-width:1024px) and (max-width:1400px) { /* 작은 모니터 */ 
  #header h1 {position:static; margin:0 auto; padding:30px 0;}
  #header .inner {position:static; width:100%;}
  .sub_gnb {position:static;}
  .sub_gnb ul {margin:0 auto;}
  .sub_gnb .main {line-height:77px;}
  .sub_gnb .sub {position:absolute; left:calc(50% - (100vw - 17px)/2); top:180px; width:calc(100vw - 17px); padding:0 100px; box-sizing:border-box;}
  /* .sub_gnb .sub:last-child {padding-right:30px; box-sizing:border-box;} */
  #header .sub_bg {top:180px; z-index:-1;}
  .util {right:15px; top:130px;}
  .util #search_text {display:none;}
  .util .icon {font-size:20px;}
  #footer .inner {margin:0 auto; width:100%;}
  #footer .sitemap {justify-content:space-between;}
  #footer .sitemap .sm_main {padding:30px; box-sizing:border-box;}
}
