@charset "utf-8";
@import url('common.css');

  /* Header-Sub */
#header {position:fixed; width:100%; height:auto; background:white;}
#header .inner {position:relative; margin:0 auto; width:1170px; height:auto;}
#header nav {height:125px; background:white;}
h1 {position:absolute; left:0px; top:41px; width:210px; height:43px;}
h1 img {width:100%; filter:invert(0);}
.sub_gnb {position:absolute; left:calc(50% - 600px/2); top:calc(50% - 16px/2); width:600px; display:flex;}
.sub_gnb a:hover {font-weight:bold;}
.sub_gnb .main {width:20%; text-align:center;}
.sub_gnb .main a {color:black; font-size:16px; transition:0.3s;}
.sub_gnb .sub {position:fixed; left:0; top:125px; display:flex; justify-content:center; width:100vw; padding:0 375px; box-sizing:border-box; background:white; border-top:1px solid #ccc; border-bottom:1px solid #aaa;}
.sub_gnb .sub li {width:14.2%; line-height:75px; transition:0.5s;}
.sub_gnb .sub a {font-size:14px;}
.util #search_text {width:100px; background:none; border-bottom:1px solid black;}
.util .icon {font-size:16px; width:auto; color:black;}
.gnb_btn {display:none; position:absolute; left:30px; top:calc(50% - 26px/2); width:26px; height:26px; cursor:pointer;}
.gnb_btn div {position:absolute; left:0; width:100%; height:2px; background:black; transition:0.3s;}
.gnb_btn div:nth-child(1) {top:0px;}
.gnb_btn div:nth-child(2) {top:11px;}
.gnb_btn div:nth-child(3) {top:22px;}
.in_gnb_util {display:none; margin:0 auto; width:100px; text-align:center;}
.in_gnb_util div, .in_gnb_util ul li {margin:20px 0;}
.in_gnb_util #search_text {width:80px; background:none; border-bottom:1px solid black;}

  /* Container-Sub */
#container_sub {padding-top:200px;}
.products_wrap {display:flex; flex-wrap:wrap; justify-content:space-between; margin:0 auto; width:100%;}
.products_wrap .products {width:calc((100% - 12px)/4); margin-bottom:100px; box-sizing:border-box;}
.products img {display:block; width:100%; background:lavender}
.products .pd_info {padding:50px 48px 0 48px;}
.pd_info .name {margin-bottom:30px; font-size:1.2rem; font-weight:500; line-height:1.5rem;}
.pd_info .price {font-family:'Rubik';}
.pd_info .price .sale {font-size:1.5rem; font-weight:bold;}
.pd_info .price .original {text-decoration:line-through; color:#666;}
.pd_info .price .percent {margin-left:15px; font-size:1.1rem; font-weight:bold; color:#cf152d;}
.pd_info .price .won {font-size:1rem;}
.page_btn {padding:45px 0 170px 0; text-align:center;}
.page_btn a {margin:7px; color:#666; font:16px 'Rubik';}
.page_btn.fo {color:#092f57; font-size:20px;}

  /* Mediaquery */
@media all and (max-width:767px) { /* 스마트폰 */
  #header {border-bottom:1px solid #aaa;}
  #header h1 {position:static; width:210px; margin:0 auto; padding:30px 0; text-align:center;}
  #header .inner {position:static; width:100%; height:auto;}
  #header nav {position:absolute; left:0; top:104px; display:block; width:200px; height:auto; background:white;}
  .gnb_btn {display:block; transition:0.5s;}
  .sub_gnb {position:static; display:none; width:100%; padding:30px 0;}
  .sub_gnb .main {display:block; width:100%; line-height:60px;}
  .sub_gnb .sub {position:absolute; left:200px; top:0px; display:block; width:200px; overflow: hidden; padding:0; border:0; transition:0.5s;}
  .sub_gnb .sub li {width:100%;}
  .util {display:none;}
  .in_gnb_util {display:block;}
  .in_gnb_util ul{display:flex; justify-content:space-between; margin:0 auto;}
  .in_gnb_util .icon {font-size:20px;}
  #container_sub {padding-top:103px;}
  .products_wrap .products {width:calc((100% - 4px)/2);}
  .pd_info .price .sale {display:block; margin-bottom:8px;}
  #footer .inner .sitemap {display:none;}
  #footer .copyright {background:#eee;}
}
@media all and (min-width:768px) and (max-width:1023px) { /* 태블릿 */ 
  #header {border-bottom:1px solid #aaa;}
  #header h1 {position:static; width:210px; margin:0 auto; padding:30px 0; text-align:center;}
  #header .inner {position:static; width:100%; height:auto;}
  #header nav {position:absolute; left:0; top:104px; display:block; width:200px; height:auto; background:white;}
  .gnb_btn {display:block; transition:0.5s;}
  .sub_gnb {position:static; display:none; width:100%; padding:30px 0;}
  .sub_gnb .main {display:block; width:100%; line-height:60px;}
  .sub_gnb .sub {position:absolute; left:200px; top:0px; display:block; width:200px; overflow: hidden; padding:0; border:0; transition:0.5s;}
  .sub_gnb .sub li {width:100%;}
  .util {right:15px; top:40px;}
  .util #search_text {display:none;}
  .util .icon {font-size:20px;}
  #container_sub {padding-top:103px;}
  .products_wrap .products {width:calc((100% - 8px)/3);}
  .pd_info .price .sale {display:block; margin-bottom:8px;}
  #footer .sitemap {display:none;}
  #footer .sitemap .sm_main {width:40%;}
  #footer .copyright {background:#eee;}
}
@media all and (min-width:1024px) and (max-width:1400px) { /* 작은 모니터 */ 
  #header h1 {position:static; width:210px; margin:0 auto; padding:30px 0; text-align:center;}
  #header .inner {position:static; width:100%;}
  .sub_gnb {position:static; margin:0 auto; padding:30px 0;}
  .sub_gnb .sub {position:absolute; left:0; top:178px; padding:0;}
  .sub_gnb .sub:last-child {padding-right:30px; box-sizing:border-box;}
  .util {right:15px; top:130px;}
  .util #search_text {display:none;}
  .util .icon {font-size:20px;}
  #container_sub {padding-top:255px;}
  .products_wrap .products {width:calc((100% - 8px)/3);}
  #footer .inner {margin:0 auto; width:100%;}
  #footer .sitemap {justify-content:space-between;}
  #footer .sitemap .sm_main {padding:30px; box-sizing:border-box;}
}
