@import url(common.css);

/* Container */
#container .inner {margin:180px auto;}
#container .inner::after {content:""; display:block; clear:both;}
.area {box-sizing:border-box;}
.area.lo_ev {float:left; width:480px; height:780px;}
.area.lo {position:relative; height:480px;}
.area.ev {position:relative; height:300px;}
.area.ne {position:relative; float:left; width:420px; height:780px;}
.area.co {position:relative; float:left; width:300px; height:780px;}

.con_title {display:inline-block; padding:20px; box-sizing:border-box; font-size:20px; font-weight:600;}
.location .con_title {width:240px; height:120px; background:black; color:white;}
.event .con_title {width:120px; height:240px; margin-left:60px; background:white;}
.new .con_title {width:240px; height:120px; margin-top:480px; margin-left:60px; padding-top:85px; background:white; text-align:right;}
.colabo .con_title {width:240px; height:120px; margin-left:60px; margin-top:180px; background:black; color:white; text-align:right;}

#container img {position:absolute; width:240px; height:240px;}
#container .location img {left:60px; top:60px;}
#container .event img {left:120px; top:60px;}
#container .new img {left:0px; top:300px;}
#container .colabo img {left:0px; top:240px;}
#container .sunglasses.bl {width:320px; height:auto; left:2px; top:240px;}
#container .sunglasses.wh {width:270px; height:auto; left:-120px; top:120px;}
#container .sunglasses.bl.sdw {mix-blend-mode:multiply;}
#container .sunglasses.wh.sdw {mix-blend-mode:multiply;}

/* BG */
body {background:url(../images/background.jpg) center top no-repeat;}
