@import url(common.css);

/* Container_sub */
#footer {background:black;}
#container_sub .inner {position:relative;}
#container_sub .inner::after {content:""; display:block; clear:both;}
.slogan {height:180px; color:#bfbec1; font:bold 50px 'univers'; text-transform:uppercase; line-height:90%;}
.slogan p {padding-top:40px; padding-left:240px;}

.categories {float:left; width:120px; padding:60px; background:#2f2f2f;}
.categories a {color:white; font-size:15px; line-height:30px;}
.categories h3 {margin-bottom:102px; color:white; font-size:22px; font-weight:600;}
.categories li.cat_fo {font-weight:bold; text-decoration:underline;}

.images {float:left; width:480px; margin-left:60px;}
.images img {width:100%;}

.detail {position:absolute; right:0px; top:180px; width:360px; height:100vh; overflow:auto; padding:60px; background:white; box-sizing:border-box; transition:1s;}
.thumbnail {margin-bottom:42px;}
.thumbnail img {width:60px; margin-right:5px; border-radius:3px;}
.thumbnail .th_fo {border:1px solid #111; box-sizing:border-box;}
.product .pd_name {display:flex; justify-content:space-between;}
.product .pd_name h4 {font-size:22px; font-weight:bold; text-transform:uppercase;}
.product .pd_name .price {font-size:14px; font-weight:bold;}
.product .intro {margin-top:30px; font-size:14px; line-height:20px; text-align:justify;}

.like {margin:15px 0; text-align:right;}
.like ion-icon {cursor:pointer; font-size:22px;}

.buttons .btn {display:block; margin-bottom:17px; border:2px solid black; border-radius:60px; font-size:16px; font-weight:bold; line-height:60px; text-align:center;}
.buttons .btn.buy {background:black; color:white;}
.buttons .btn.gift {margin-bottom:30px;}

.info {height:240px; padding:27px 0; box-sizing:border-box; border-top:1px solid #bbb; border-bottom:1px solid #bbb; color:#444; font-size:13px;}
.info p {margin-bottom:17px; padding-left:6px; font-weight:600;}
.info li {padding-left:6px; line-height:22px; font-weight:400;}

/* Background */
body {background:url(../images/sub_background.jpg) #ececec center top no-repeat;}